{% with act=item %}
{% if not parent_item %}
<p><span class="label label-default">{{ act.t_type }}</span></p>
{% endif %}
<div class="panel panel-{% if parent_item %}{{ parent_item.element }}{% else %}default{% endif %} act act-{{ act.type }}{% if act.show_top_details %} act-with-top-details{% endif %}{% if act.unlock_at_rank %} unlock-at-rank{% endif %}">
  {% if act.show_title %}
  {% if act.show_top_details %}
  <div class="act-top">
    {% for details in act.top_details %}
    <span class="label label-default label-{% if parent_item %}{{ parent_item.element }}{% else %}default{% endif %}">{{ details.verbose_name }}</span>
    <span class="label-value">{{ details.value }}</span>
    {% endfor %}
  </div>
  {% endif %}
  <div class="panel-heading">
    <span>
      {{ act.t_name }}
    </span>
  </div>
  {% endif %}
  <div class="panel-body">
    {% if act.image %}
    <div class="row">
      <div class="col-xs-2">
        <img src="{{ act.image_url }}" alt="{{ act.t_name }}" class="act-image">
      </div>
      <div class="col-xs-10">
        {% endif %}
        <p>{{ act.t_description }}</p>
        {% if act.bound_break_value %}
        <p><strong>{{ act.display_bound_break_value }}</strong></p>
        {% endif %}
        {% if act.has_target %}
        <p><strong>{{ act.display_target }}</strong></p>
        {% endif %}
        {% if act.hits > 1 %}
        <p><strong>{{ act.display_hits }}</strong></p>
        {% endif %}
        {% if act.unlock_at_rank %}
        <p class="text-right"><strong>{{ act.display_unlock_at_rank }}</strong></p>
        {% endif %}
        {% if act.image %}
      </div>
    </div>
    {% endif %}
  </div>
</div>{% if act.m_tips %}
<div class="act-tips">
  <i class="text-{% if parent_item %}{{ parent_item.element }}{% else %}muted{% endif %} flaticon-idea"></i>
  <div class="to-markdown">{{ act.t_m_tips }}</div>
</div>
{% endif %}<br>
{% endwith %}
